.main-form__heading {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}


.main-form__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
