/* здесь используйте глобальные переменные */
$primary-font: "Oswald Regular";
$second-font: "Lato Regular";
$reserved-font: 'Arial';
$font-serif: sans-serif;

$main-text-color: #000;
$second-text-color: #444;
$third-text-color: #fff;
$special-grey-text-color: #222;

$main-button-background-color: #68B738;

$green-background-opacity: rgba(104, 183, 56, 0.85);
