.methods {
  display: grid;
  row-gap: 20px;
}

.methods__description {
  margin: 0;
  padding-top: 0;
  color: $second-text-color;
  font-family: $second-font, $font-serif;
  font-size: 14px;
  line-height: 18px;
}

.methods__item--powder .methods__description {
  padding-top: 2px;
}

.methods__item--food .methods__description {
  padding-top: 2px;
}

.methods__item--useful-time .methods__description {
  padding-top: 2px;
}

.methods__item {
  display: flex;

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    background-color: $main-button-background-color;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.methods__item--useful-substances {
  &::before {
    background-image: url("../../images/icons/stack.svg#icon-leaf");
    background-size: 30px 32px;
  }
}

.methods__item--powder {
  &::before {
    background-image: url("../../images/icons/stack.svg#icon-powder");
    background-size: 26px 29px;
  }
}

.methods__item--food {
  &::before {
    background-image: url("../../images/icons/stack.svg#icon-eat");
    background-size: 30px 32px;
  }
}

.methods__item--useful-time {
  &::before {
    background-image: url("../../images/icons/stack.svg#icon-time");
    background-size: 30px 32px;
  }
}


@media (min-width: $tablet-width) {
  .methods {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 135px;
    column-gap: 154px;
    counter-reset: method;
  }

  .methods__item {
    position: relative;
    flex-direction: column;
    row-gap: 31px;
    max-width: 250px;


    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      counter-increment: method;
      content: counter(method) "";
      position: absolute;
      z-index: -1;
      top: -106px;
      right: 0;
      font-size: 280px;
      color: #f2f2f2;
    }
  }

  .methods__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .methods {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    column-gap: 94px;
  }
}
