.methods {
  display: grid;
  row-gap: 20px;
}

.methods__description {
  margin: 0;
  padding-top: 0;
  color: $second-text-color;
  font-family: $second-font, $font-serif;
  font-size: 14px;
  line-height: 18px;
}

.methods__item--powder .methods__description {
  padding-top: 2px;
}

.methods__item--food .methods__description {
  padding-top: 2px;
}

.methods__item--useful-time .methods__description {
  padding-top: 2px;
}

.methods__item {
  display: flex;

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    background-color: $main-button-background-color;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.methods__item--useful-substances .methods__description {
  padding-top: 3px;
}


.methods__item--useful-substances {
  &::before {
    background-image: url("../../images/icons/stack.svg#icon-leaf");
    background-size: 30px 32px;
  }
}

.methods__item--powder {
  &::before {
    background-image: url("../../images/icons/stack.svg#icon-powder");
    background-size: 26px 29px;
  }
}

.methods__item--food {
  &::before {
    background-image: url("../../images/icons/stack.svg#icon-eat");
    background-size: 30px 32px;
  }
}

.methods__item--useful-time {
  &::before {
    background-image: url("../../images/icons/stack.svg#icon-time");
    background-size: 30px 32px;
  }
}


@media (max-width: $mobile-width-only) {
  .methods__description br {
    display: none;
  }
}


@media (min-width: $tablet-width) {
  .methods {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 133px;
    column-gap: 61px;
    counter-reset: method;
  }

  .methods__item {
    position: relative;
    flex-direction: column;
    row-gap: 31px;
    max-width: 250px;


    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      counter-increment: method;
      content: counter(method) "";
      position: absolute;
      z-index: -1;
      top: -106px;
      right: 0;
      font-size: 280px;
      color: #f2f2f2;
    }
  }

  .methods__item.methods__item--useful-substances {
    &::after {
      top: -109px;
      right: 25px;
    }
  }

  .methods__item.methods__item--powder {
    &::after {
      right: 4px;
    }
  }

  .methods__item--useful-substances .methods__description {
    padding-top: 0;
  }

  .methods__item--powder .methods__description {
    padding-top: 0;
  }

  .methods__item--useful-time .methods__description {
    padding-top: 0px;
    padding-left: 1px;
  }


  .methods__description {
    padding-top: 0;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .methods {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    column-gap: 78px;
  }

  .methods__item.methods__item--useful-substances {
    &::after {
    right: 20px;}
  }

  .methods__item.methods__item--powder {
    &::after {
      right: -1px;
    }
  }

  .methods__item--food .methods__description {
    padding-top: 0;
  }

  .methods__item--useful-time .methods__item {
    &::after {
      right: -3px;
    }
  }
}
