.methods {
  display: grid;
  row-gap: 20px;
}

.methods__description {
  margin: 0;
  color: $second-text-color;
  font-family: $second-font, $font-serif;
  font-size: 14px;
  line-height: 18px;

}

.methods__item {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    background-color: $main-button-background-color;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.methods__item--useful-substances {
  &::before {
    background-image: url("../../images/icons/stack.svg#icon-leaf");
    background-size: 30px 32px;
  }
}

.methods__item--powder {
  &::before {
    background-image: url("../../images/icons/stack.svg#icon-powder");
    background-size: 26px 29px;
  }
}

.methods__item--food {
  &::before {
    background-image: url("../../images/icons/stack.svg#icon-eat");
    background-size: 30px 32px;
  }
}

.methods__item--useful-time {
  &::before {
    background-image: url("../../images/icons/stack.svg#icon-time");
    background-size: 30px 32px;
  }
}
