
@media (min-width: $tablet-width) {
  .page-main__cover {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 45px;
    padding: 0;
    padding-bottom: 102px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #e6e6e6;
  }

  .page-main__wrapper {
    padding: 0;
    margin-top: -50px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__cover {
    margin-bottom: 24px;
    border: none;
  }
}
