
.plan__description {
  margin: 0;
  color: $second-text-color;
  font-family: $second-font, $font-serif;
  font-size: 14px;
  line-height: 18px;
}

.plan__name-wrapper {
  margin-bottom: 28px;
}

.plan__name {
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 80px;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;


  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    z-index: 1;
  }
}


.plan--slim .plan__name {
  &::before {
    width: 50px;
    height: 53px;
    background-image: url("../../images/icons/stack.svg#icon-cat-slim");
    left: 5px;
    top: -8px;
  }
}


.plan--pro .plan__name {
  &::before {
    width: 67px;
    height: 50px;
    background-image: url("../../images/icons/stack.svg#icon-cat-pro");
    left: -8px;
    top: -5px;
  }
}


.plan__link {
  display: inline-flex;
  align-items: center;
  position: relative;
  color: $main-text-color;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-right: 15px;

  &::after {
    content: "";
    position: absolute;
    right: -30px;
    width: 32px;
    height: 10px;
    mask-image: url("../../images/icons/stack.svg#icon-arrow");
    mask-repeat: no-repeat;
    background-color: #000000;

  }
}

@media(max-width: $mobile-width-only) {
  .plan__description {
    margin-bottom: 15px;
    padding-bottom: 23px;
    border-bottom: 1px solid #D9D9D9;
  }
}

@media(min-width: $tablet-width) {
  .plan__name {
    margin-bottom: 24px;
    padding: 0;
    font-size: 36px;
    line-height: 36px;

    &::after {
      width: 200px;
      height: 200px;
      left: 400px;
      top: 5px;
    }

  }

  .plan--slim .plan__name{
    &::before {
      width: 200px;
      height: 211px;
      top: 0;
      left: 400px;
    }
  }

  .plan--pro .plan__name {
    &::before {
      width: 268px;
      height: 200px;
      left: 364px;
      top: 30px;
    }
  }

  .plan__description {
    margin-bottom: 52px;
    padding-right: 255px;
    font-size: 16px;
    line-height: 24px;
  }

  .plan__link {
    padding-right: 25px;
    font-size: 20px;
    line-height: normal;
  }

}
