.programs {
  margin-bottom: 20px;
}

.programs__wrapper {
  display: grid;
  row-gap: 20px;
}

.programs__item {
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
}


.programs__inner {
  padding: 30px 33px 18px 20px;
}

.plan--pro .programs__inner {
  padding-top: 28px;
}

.plan--slim .programs__inner {
  &::before {
    width: 50px;
    height: 57px;
    background-image: url("../../images/icons/stack.svg#icon-cat-slim");
    top: 8%;
  }
}

.plan--pro .programs__inner {
  &::before {
    width: 67px;
    height: 50px;
    background-image: url("../../images/icons/stack.svg#icon-cat-pro");
    top: 9%;
    left: 12px;
  }
}

@media (min-width: $tablet-width) {
  .programs {
    margin-bottom: 45px;
  }

  .programs__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(708px, 1fr));
    row-gap: 30px;
  }

  .programs__inner {
    padding: 79px 62px 57px 53px;
  }

  .plan--slim .programs__inner {
    &::before {
      width: 200px;
      height: 211px;
      top: 22%;
      right: 62px;
    }
  }

  .plan--pro .programs__inner {
    padding-top: 77px;

    &::before {
      width: 268px;
      height: 200px;
      top: 25%;
      right: 29px;
      left: auto;
    }
  }
}


@media (min-width: $desktop-width) {
  .programs {
    margin-bottom: 71px;
  }

  .programs__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(570px, 1fr));
    column-gap: 80px;
  }

  .programs__inner {
    padding: 77px 61px 59px 52px;
  }

  .plan--slim .programs__inner {
    &::before {
      width: 103px;
      height: 105px;
      left: 9%;
      top: 11%;
    }
  }

  .plan--pro .programs__inner {
    &::before {
      width: 134px;
      height: 140px;
      left: 6%;
      top: 7%;
    }
  }
}
