.show-card__container {
  padding-top: 27px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}

.show-card__name {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 25px;
  color: $third-text-color;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.show-card__slogan {
  margin: 0;
  margin-bottom: 28px;
  color: $third-text-color;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.show-card__button-wrapper {
  position: relative;
}

.show-card__button-program {
  display: inline-block;
  width: 100%;
  padding: 9px 44px;
}

@media (max-width: $mobile-width-only) {
  .show-card__name br {
    display: none;
  }
}


@media (min-width: $tablet-width) {
  .show-card__container {
    margin: 0;
    padding: 0;
    padding-left: 90px;
    padding-top: 26px;
    text-align: left;
    min-height: 834px;
  }

  .show-card__name {
    padding: 0;
    margin-bottom: 40px;
    color: $main-text-color;
    font-size: 60px;
    line-height: 60px;
  }

  .show-card__slogan {
    margin-bottom: 50px;
    color: $main-text-color;
    font-size: 20px;
    line-height: 20px;
  }

  .show-card__image-wrapper {
    bottom: 45px;
    z-index: 0;
    left: -45px;
  }

  .show-card__picture {
    position: absolute;
    bottom: 0px;
    right: -3px;
  }

  .show-card__button-program {
    width: 245px;
    padding: 14px 27px;
  }
}


@media (min-width: $desktop-width) {
  .show-card__container {
    padding-top: 71px;
    margin-bottom: 63px;
    min-height: 560px;
    padding-left: 80px;
  }

  .show-card__picture {
    top: -10px;
    left: 36.8%;
    right: auto;
  }

  .show-card__slogan {
    margin-bottom: 51px;
  }
}
