.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 280px;
  height: 295px;
}


.slider__images {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider__image {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  overflow: hidden;
  transition: width 0.4s ease-out;
  pointer-events: none;
  user-select: none;
}

.slider__image img {
  pointer-events: none;
  user-select: none;
  max-width: inherit;
}

.slider__image--before {
  z-index: 1;
  left: 0%;
}

.slider__image--after {
  display: flex;
  justify-content: flex-end;
  right: 0;
  z-index: 0;
}

.slider__scale {
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 49%;
  width: 2px;
  height: 88%;
  border-radius: 6px;
  box-sizing: border-box;
}

.slider__grip {
  flex-shrink: 0;
  display: block;
  width: 4px;
  height: 100%;
  position: relative;
  cursor: pointer;
  transition: margin-left 0.35s ease-out;
  z-index: 10;
  color: $special-grey;

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    background: transparent;
    height: 100%;
  }
}

.slider__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  transition: all 0.3s;
}

.slider__line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  height: 100%;
  display: block;
  width: 4px;
  transform: translateX(-50%);
  background-color: $special-grey;
  transition: background-color 0.3s;
  border-radius: 2px;
}


@media (min-width: $tablet-width) {
  .slider {
    width: 100%;
    height: 640px;
    background-image: linear-gradient(#ffffff 0, #ffffff 180px, #eaeaea 180px, #eaeaea 100%);
    overflow: hidden;
  }

  .slider__image {
    display: flex;
    flex-direction: column;
    width: 36%;
    top: 4%;
  }

  .slider__image--before{
    left: 14%;
  }

  .slider__image--after {
    align-items: flex-end;
    justify-content: flex-start;
    right: auto;
    left: 50%;
  }

  .slider__image--after img {
    z-index: 1;
  }

  .slider__image img {
    width: 560px;
    height: 512px;
  }

  .slider__scale {
    position: absolute;
    top: 4%;
    left: 50%;
    height: 81%;
    padding: 4px 0;
    border-radius: 5px;
  }

  .slider__grip {
    &:hover {
      color: $main-button-background-color;
    }

    &:hover .slider__line {
      background-color: $main-button-background-color;
    }
  }
}

@media (min-width: 1300px) {
  .slider__image--after {
    box-shadow: none;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    bottom: 200px;
    height: 512px;
    padding-bottom: 0;
    margin: 0;
    background-image: none;
    overflow: visible;
  }


  .slider__scale {
    width: 1%;
    top: -8px;
    left: 33%;
    height: 101%;
  }

  .slider__image {
    width: 48%;
    left: -15%;
    top: -4px;
  }

  .slider__image--after {
    right: auto;
    left: 33%;
    top: -4px;
    bottom: auto;
    width: 48%;
  }
}
