.weight {
  position: relative;
  border-radius: 5%;
  padding: 15px 42px;
  border: 1px solid #cdcdcd;
}

.weight__loss {
  font-size: 24px;
  line-height: 24px;
}

.weight__caption {
  position: absolute;
  top: 47px;
  left: 15px;
  margin: 0;
  width: 90px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #eaeaea;
  color: $second-text-color;
  font-family: $second-font, $font-serif;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
}


@media (min-width: $tablet-width) {
  .weight {
    padding: 15px 56px 18px 56px;
  }

  .weight__loss {
    font-size: 30px;
    line-height: 37px;
  }

  .weight__caption {
    top: 62px;
    left: 15px;
    width: 81%;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }
}


@media (min-width: $desktop-width) {
  .weight__caption {
    top: 64px;
    left: 14px;
    background-color: #f2f2f2;
  }
}
