.cooperation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 0 25px 0;
}

.cooperation__welcome-words {
  margin: 0;
  width: 140px;
  color: #111111;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-transform: uppercase;
}

.cooperation__address {
  margin: 0;
  width: 140px;
  color: $second-text-color;
  font-family: $second-font, $font-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}


@media (min-width: $tablet-width) {
  .cooperation {
    padding: 62px 40px;
  }

  .cooperation__welcome-words {
    width: 163px;
    font-size: 20px;
    line-height: 26px;
  }

  .cooperation__address {
    margin-top: -1px;
    margin-right: -4px;
    width: 157px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .cooperation__address span {
    display: block;
    margin-bottom: 20px;
  }

  #map {
    height: 400px;
  }
}


@media (min-width: $desktop-width) {
  .cooperation {
    column-gap: 80px;
    position: absolute;
    left: 108px;
    top: 91px;
    padding: 60px 80px;
    column-gap: 88px;
    z-index: 1;
    background-color: $third-text-color;
  }

  .cooperation__address {
    text-align: left;
  }
}
