.cooperation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  padding: 26px 20px;
}

.cooperation__welcome-words {
  margin: 0;
  color: #111111;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 160px;
}

.cooperation__address {
  margin: 0;
  color: $second-text-color;
  font-family: $second-font, $font-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  max-width: 163px;
}

.cooperation--form {
  background-color: $basic-grey;
}



@media(min-width: $tablet-width) {
  .cooperation {
    padding: 60px 70px;
  }

  .cooperation__welcome-words {
    font-size: 20px;
    line-height: 26px;
  }

  .cooperation__address {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .cooperation__address span {
    display: block;
    margin-bottom: 15px;
  }
}


@media(min-width: $desktop-width) {
  .cooperation {
    position: absolute;
    left: 50px;
    top: 80px;
    z-index: 1;
    background-color: $third-text-color;
  }

  .cooperation__address {
    text-align: left ;
  }
}
