.page-header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 14px;
  margin-bottom: 13px;
}

.page-header__logo {
  display: block;
  max-width: 190px;
}

@media (max-width: $mobile-width-only) {
  .page-header--index {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      min-height: 302px;
      width: 100%;
      background-image: url("../../../images/index-background-mobile@1x.jpg");
      background-repeat: no-repeat;
      background-color: #63a73a;
      background-position: bottom;
      z-index: -1;
    }
  }

  .page-header--form {
    border-bottom: 1px solid #d9d9d9;
  }
}


@media (min-width: $tablet-width) {
  .page-header__container {
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__container {
    padding-top: 55px;
  }

  .page-header--index {
    &::after {
      content: "";
      display: block;
      width: 50%;
      position: absolute;
      top: 0;
      right: 0;
      min-height: 694px;
      background-image: url("../../../images/index-background-desktop@1x.jpg");
      background-color: #63a73a;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0%;
      z-index: -1;
    }
  }
}
