.goods {
  position: relative;
  padding-top: 78px;
  text-align: center;
  // max-width: 280px;
  // margin: 0 auto;
  margin-bottom: 25px;


  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 43%;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;

  }

  &::after {
    transform: rotate(90deg);
  }
}


.goods__heading {
  margin: 0;
  margin-bottom: 13px;
  color: $special-grey-text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}


.goods__tastes {
  margin: 0;
  margin-bottom: 21px;
  color: $second-text-color;
  font-family: $second-font;
  font-size: 12px;
  line-height: 16px;
}

.goods__button-more {
  padding: 10px 44px;
  width: 100%;
  font-family: inherit;
  color: $second-text-color;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
}

@media (min-width: $tablet-width) {
  .goods {
    margin-bottom: 0;
    padding-top: 160px;
    padding-bottom: 40px;
    padding-left: 37px;
    padding-right: 37px;
    border: 1px solid $basic-grey;
  }

  .goods {
    &::after {
      width: 60px;
    }

  }


  .goods {
    &::before {
      width: 60px;
    }
  }

  .goods__heading {
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 24px;
  }

  .goods__tastes {
    margin-bottom: 120px;
    font-size: 16px;
    line-height: 18px;
  }

  .goods__wrapper {
    display: flex;
    flex-direction: column
  }
}


@media (min-width: $tablet-width) {
  .goods {
    padding-left: 25px;
    padding-right: 25px ;
  }
}
